.section2 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
  margin-bottom: 150px;
}

#have1 {
  margin-left: 320px;
  margin-right: 250px;
}

#card2 {
  margin-right: 50px;
}

.bor1 {
  margin-left: 0px;
}

.modal-dialog {
  margin-top: 200px;
}

.form-check-input {
  margin-left: 5px;
}